---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800|Source+Serif+Pro&display=swap');

body {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  overflow-y: hidden;
}

.page-header {
  background-color: #fa9492;
  background-image: linear-gradient(109.6deg, #ff9190 11.3%, #eb7295 91.1%);
  height: 100vh;
  position: relative
}
#fuckcss {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.project-tagline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 0.83em;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #fa9492;
}
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 85%;
  color: #fa9492;
}
